<html>
  <head>
    <title>Demo Socket IO</title>
    <script src="jquery-3.1.0.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      // Phần 1: dành cho socket
      var socket = io("http://localhost:3000");

      // Phần 2: dành cho jquery
      $(document).ready(function(){
        //alert(1);
      });


    </script>
  </head>

  <body>
    Hello
  </body>

</html>
