<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ReactJS</title>
    <script src="react/react.js"></script>
    <script src="react/react-dom.js"></script>
    <script src="react/browser.min.js"></script>
    <style>
      .sv{border: solid 1px grey; margin: 5px; padding: 10px}
      .hoten{color: red; font-weight: bold; margin-top: 10px}
      img{float: left; margin-right: 10px}
      .block{width: 100%; clear: both;}
    </style>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel" src="xuly4.js"></script>

  </body>
</html>
