<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ReactJS</title>
    <script src="react/react.js"></script>
    <script src="react/react-dom.js"></script>
    <script src="react/browser.min.js"></script>
    <style>
      .vang{background-color: yellow}
    </style>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel" src="xuly.js"></script>

  </body>
</html>
