<form action="./xuly" method="post">
  <div>Username: <input type="text" id="txtUser" name="txtUser" /></div><br/>
  <div>Password: <input type="text" id="txtPass" name="txtPass" /></div><br/>
  <div><input type="submit" id="btnLogin" value="Login" name="btnLogin" /></div>
</form>
