<html>
  <head>
    <title>Chat</title>
  </head>
    <input type="text" id="txtUsername" />
    <input type="button" id="btnSend" value="Send" />
    <div id="danhsach"></div>
  <body>

  </body>
</html>
